In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Optimized dtypes
market_dtypes = {
    'ItinID': 'int64',
    'MktID': 'int64',
    'MktCoupons': 'int8',
    'Year': 'int16',
    'Quarter': 'int8',
    'OriginAirportID': 'int32',
    'OriginAirportSeqID': 'int32',
    'OriginCityMarketID': 'int32',
    'Origin': 'str',
    'OriginCountry': 'str',
    'OriginStateFips': 'int8',
    'OriginState': 'str',
    'OriginStateName': 'str',
    'OriginWac': 'int8',
    'DestAirportID': 'int32',
    'DestAirportSeqID': 'int32',
    'DestCityMarketID': 'int32',
    'Dest': 'str',
    'DestCountry': 'str',
    'DestStateFips': 'int8',
    'DestState': 'str',
    'DestStateName': 'str',
    'DestWac': 'int8',
    'AirportGroup': 'str',
    'WacGroup': 'str',
    'TkCarrierChange': 'float32',
    'TkCarrierGroup': 'str',
    'OpCarrierChange': 'float32',
    'OpCarrierGroup': 'str',
    'RPCarrier': 'str',
    'TkCarrier': 'str',
    'OpCarrier': 'str',
    'BulkFare': 'float32',
    'Passengers': 'float32',
    'MktFare': 'float32',
    'MktDistance': 'float32',
    'MktDistanceGroup': 'int8',
    'MktMilesFlown': 'float32',
    'NonStopMiles': 'float32',
    'ItinGeoType': 'int8',
    'MktGeoType': 'int8',
}

# Define filters
major_carriers = ['DL', 'AA', 'UA', 'WN', 'AS', 'NK', 'F9', 'B6']

print("Loading DB1B Market data with chunk filtering...")

# Read and filter in chunks
chunk_size = 100_000
filtered_chunks = []
total_rows_read = 0
total_rows_kept = 0

for chunk in pd.read_csv(
    'DB1BMarket_2025_2.csv',
    dtype=market_dtypes,
    usecols=list(market_dtypes.keys()),
    chunksize=chunk_size,
    low_memory=False
):
    # Filter chunk
    filtered_chunk = chunk[
        (chunk['Passengers'] > 0) &
        (chunk['MktFare'] > 0) &
        (chunk['BulkFare'] == 0) &
        (chunk['OpCarrier'].isin(major_carriers))
    ]
    
    # Track progress
    total_rows_read += len(chunk)
    total_rows_kept += len(filtered_chunk)
    
    if len(filtered_chunk) > 0:
        filtered_chunks.append(filtered_chunk)
    
    print(f"  Chunk: {len(chunk):,} rows â†’ {len(filtered_chunk):,} kept "
          f"(Total: {total_rows_read:,} read, {total_rows_kept:,} kept)")

# Combine
print("\nCombining filtered chunks...")
market_df_big8 = pd.concat(filtered_chunks, ignore_index=True)

# Memory report
memory_gb = market_df_big8.memory_usage(deep=True).sum() / 1_073_741_824
filter_rate = (total_rows_kept / total_rows_read * 100) if total_rows_read > 0 else 0

print(f"\nâœ… Loaded successfully!")
print(f"   Rows read: {total_rows_read:,}")
print(f"   Rows kept: {len(market_df_big8):,} ({filter_rate:.1f}%)")
print(f"   Columns: {len(market_df_big8.columns)}")
print(f"   Memory: {memory_gb:.2f} GB")
print(f"   Carriers: {', '.join(major_carriers)}")

# Preview
print("\nðŸ“Š Sample data:")
print(market_df_big8[['Origin', 'Dest', 'OpCarrier', 'Passengers', 'MktFare']].head())

Loading DB1B Market data with chunk filtering...
  Chunk: 100,000 rows â†’ 99,608 kept (Total: 100,000 read, 99,608 kept)
  Chunk: 100,000 rows â†’ 99,699 kept (Total: 200,000 read, 199,307 kept)
  Chunk: 100,000 rows â†’ 87,932 kept (Total: 300,000 read, 287,239 kept)
  Chunk: 100,000 rows â†’ 82,888 kept (Total: 400,000 read, 370,127 kept)
  Chunk: 100,000 rows â†’ 83,856 kept (Total: 500,000 read, 453,983 kept)
  Chunk: 100,000 rows â†’ 59,682 kept (Total: 600,000 read, 513,665 kept)
  Chunk: 100,000 rows â†’ 6,365 kept (Total: 700,000 read, 520,030 kept)
  Chunk: 100,000 rows â†’ 6,653 kept (Total: 800,000 read, 526,683 kept)
  Chunk: 100,000 rows â†’ 7,662 kept (Total: 900,000 read, 534,345 kept)
  Chunk: 100,000 rows â†’ 10,138 kept (Total: 1,000,000 read, 544,483 kept)
  Chunk: 100,000 rows â†’ 29,851 kept (Total: 1,100,000 read, 574,334 kept)
  Chunk: 100,000 rows â†’ 49,089 kept (Total: 1,200,000 read, 623,423 kept)
  Chunk: 100,000 rows â†’ 9,325 kept (Total: 1,300,000 read, 632,748 kept)
  Chunk: 100,000 rows â†’ 39,223 kept (Total: 1,400,000 read, 671,971 kept)
  Chunk: 100,000 rows â†’ 78,182 kept (Total: 1,500,000 read, 750,153 kept)
  Chunk: 100,000 rows â†’ 85,206 kept (Total: 1,600,000 read, 835,359 kept)
  Chunk: 100,000 rows â†’ 83,191 kept (Total: 1,700,000 read, 918,550 kept)
  Chunk: 100,000 rows â†’ 81,442 kept (Total: 1,800,000 read, 999,992 kept)
  Chunk: 100,000 rows â†’ 84,568 kept (Total: 1,900,000 read, 1,084,560 kept)
  Chunk: 100,000 rows â†’ 87,021 kept (Total: 2,000,000 read, 1,171,581 kept)
  Chunk: 100,000 rows â†’ 95,339 kept (Total: 2,100,000 read, 1,266,920 kept)
  Chunk: 100,000 rows â†’ 7,309 kept (Total: 2,200,000 read, 1,274,229 kept)
  Chunk: 100,000 rows â†’ 39,007 kept (Total: 2,300,000 read, 1,313,236 kept)
  Chunk: 100,000 rows â†’ 83,438 kept (Total: 2,400,000 read, 1,396,674 kept)
  Chunk: 100,000 rows â†’ 83,656 kept (Total: 2,500,000 read, 1,480,330 kept)
  Chunk: 100,000 rows â†’ 85,421 kept (Total: 2,600,000 read, 1,565,751 kept)
  Chunk: 100,000 rows â†’ 5,721 kept (Total: 2,700,000 read, 1,571,472 kept)
  Chunk: 100,000 rows â†’ 83,668 kept (Total: 2,800,000 read, 1,655,140 kept)
  Chunk: 100,000 rows â†’ 98,669 kept (Total: 2,900,000 read, 1,753,809 kept)
  Chunk: 100,000 rows â†’ 26,060 kept (Total: 3,000,000 read, 1,779,869 kept)
  Chunk: 100,000 rows â†’ 96,744 kept (Total: 3,100,000 read, 1,876,613 kept)
  Chunk: 100,000 rows â†’ 96,429 kept (Total: 3,200,000 read, 1,973,042 kept)
  Chunk: 100,000 rows â†’ 53,798 kept (Total: 3,300,000 read, 2,026,840 kept)
  Chunk: 100,000 rows â†’ 89,424 kept (Total: 3,400,000 read, 2,116,264 kept)
  Chunk: 100,000 rows â†’ 86,820 kept (Total: 3,500,000 read, 2,203,084 kept)
  Chunk: 100,000 rows â†’ 99,489 kept (Total: 3,600,000 read, 2,302,573 kept)
  Chunk: 100,000 rows â†’ 99,761 kept (Total: 3,700,000 read, 2,402,334 kept)
  Chunk: 100,000 rows â†’ 99,668 kept (Total: 3,800,000 read, 2,502,002 kept)
  Chunk: 100,000 rows â†’ 99,650 kept (Total: 3,900,000 read, 2,601,652 kept)
  Chunk: 100,000 rows â†’ 99,702 kept (Total: 4,000,000 read, 2,701,354 kept)
  Chunk: 100,000 rows â†’ 95,157 kept (Total: 4,100,000 read, 2,796,511 kept)
  Chunk: 100,000 rows â†’ 99,475 kept (Total: 4,200,000 read, 2,895,986 kept)
  Chunk: 100,000 rows â†’ 84,898 kept (Total: 4,300,000 read, 2,980,884 kept)
  Chunk: 100,000 rows â†’ 82,790 kept (Total: 4,400,000 read, 3,063,674 kept)
  Chunk: 100,000 rows â†’ 83,722 kept (Total: 4,500,000 read, 3,147,396 kept)
  Chunk: 100,000 rows â†’ 60,653 kept (Total: 4,600,000 read, 3,208,049 kept)
  Chunk: 100,000 rows â†’ 34,659 kept (Total: 4,700,000 read, 3,242,708 kept)
  Chunk: 100,000 rows â†’ 86,380 kept (Total: 4,800,000 read, 3,329,088 kept)
  Chunk: 100,000 rows â†’ 90,459 kept (Total: 4,900,000 read, 3,419,547 kept)
  Chunk: 100,000 rows â†’ 35,130 kept (Total: 5,000,000 read, 3,454,677 kept)
  Chunk: 100,000 rows â†’ 45,583 kept (Total: 5,100,000 read, 3,500,260 kept)
  Chunk: 100,000 rows â†’ 7,931 kept (Total: 5,200,000 read, 3,508,191 kept)
  Chunk: 100,000 rows â†’ 46,265 kept (Total: 5,300,000 read, 3,554,456 kept)
  Chunk: 100,000 rows â†’ 88,928 kept (Total: 5,400,000 read, 3,643,384 kept)
  Chunk: 100,000 rows â†’ 88,573 kept (Total: 5,500,000 read, 3,731,957 kept)
  Chunk: 100,000 rows â†’ 87,191 kept (Total: 5,600,000 read, 3,819,148 kept)
  Chunk: 100,000 rows â†’ 72,334 kept (Total: 5,700,000 read, 3,891,482 kept)
  Chunk: 100,000 rows â†’ 79,948 kept (Total: 5,800,000 read, 3,971,430 kept)
  Chunk: 100,000 rows â†’ 70,059 kept (Total: 5,900,000 read, 4,041,489 kept)
  Chunk: 100,000 rows â†’ 70,534 kept (Total: 6,000,000 read, 4,112,023 kept)
  Chunk: 100,000 rows â†’ 72,484 kept (Total: 6,100,000 read, 4,184,507 kept)
  Chunk: 100,000 rows â†’ 78,393 kept (Total: 6,200,000 read, 4,262,900 kept)
  Chunk: 100,000 rows â†’ 96,704 kept (Total: 6,300,000 read, 4,359,604 kept)
  Chunk: 100,000 rows â†’ 99,520 kept (Total: 6,400,000 read, 4,459,124 kept)
  Chunk: 100,000 rows â†’ 60,573 kept (Total: 6,500,000 read, 4,519,697 kept)
  Chunk: 100,000 rows â†’ 7,391 kept (Total: 6,600,000 read, 4,527,088 kept)
  Chunk: 100,000 rows â†’ 79,377 kept (Total: 6,700,000 read, 4,606,465 kept)
  Chunk: 100,000 rows â†’ 99,977 kept (Total: 6,800,000 read, 4,706,442 kept)
  Chunk: 100,000 rows â†’ 97,338 kept (Total: 6,900,000 read, 4,803,780 kept)
  Chunk: 100,000 rows â†’ 99,652 kept (Total: 7,000,000 read, 4,903,432 kept)
  Chunk: 100,000 rows â†’ 99,655 kept (Total: 7,100,000 read, 5,003,087 kept)
  Chunk: 100,000 rows â†’ 98,298 kept (Total: 7,200,000 read, 5,101,385 kept)
  Chunk: 100,000 rows â†’ 100,000 kept (Total: 7,300,000 read, 5,201,385 kept)
  Chunk: 100,000 rows â†’ 9,541 kept (Total: 7,400,000 read, 5,210,926 kept)
  Chunk: 100,000 rows â†’ 5,136 kept (Total: 7,500,000 read, 5,216,062 kept)
  Chunk: 100,000 rows â†’ 9,684 kept (Total: 7,600,000 read, 5,225,746 kept)
  Chunk: 100,000 rows â†’ 9,217 kept (Total: 7,700,000 read, 5,234,963 kept)
  Chunk: 100,000 rows â†’ 32,065 kept (Total: 7,800,000 read, 5,267,028 kept)
  Chunk: 100,000 rows â†’ 80,009 kept (Total: 7,900,000 read, 5,347,037 kept)
  Chunk: 100,000 rows â†’ 77,980 kept (Total: 8,000,000 read, 5,425,017 kept)
  Chunk: 100,000 rows â†’ 56,594 kept (Total: 8,100,000 read, 5,481,611 kept)
  Chunk: 100,000 rows â†’ 57,493 kept (Total: 8,200,000 read, 5,539,104 kept)
  Chunk: 100,000 rows â†’ 75,414 kept (Total: 8,300,000 read, 5,614,518 kept)
  Chunk: 100,000 rows â†’ 80,283 kept (Total: 8,400,000 read, 5,694,801 kept)
  Chunk: 50,420 rows â†’ 41,512 kept (Total: 8,450,420 read, 5,736,313 kept)

Combining filtered chunks...

âœ… Loaded successfully!
   Rows read: 8,450,420
   Rows kept: 5,736,313 (67.9%)
   Columns: 41
   Memory: 4.68 GB
   Carriers: DL, AA, UA, WN, AS, NK, F9, B6

ðŸ“Š Sample data:
  Origin Dest OpCarrier  Passengers     MktFare
0    ORD  MCO        WN         1.0  283.619995
1    MCO  MDW        WN         1.0  279.380005
2    ORD  MCO        WN         1.0  298.230011
3    MCO  MDW        WN         1.0  293.769989
4    MIA  MDW        WN         1.0  183.220001

In [3]:
market_df_big8.columns

Index(['ItinID', 'MktID', 'MktCoupons', 'Year', 'Quarter', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCountry',
       'OriginStateFips', 'OriginState', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
       'DestCountry', 'DestStateFips', 'DestState', 'DestStateName', 'DestWac',
       'AirportGroup', 'WacGroup', 'TkCarrierChange', 'TkCarrierGroup',
       'OpCarrierChange', 'OpCarrierGroup', 'RPCarrier', 'TkCarrier',
       'OpCarrier', 'BulkFare', 'Passengers', 'MktFare', 'MktDistance',
       'MktDistanceGroup', 'MktMilesFlown', 'NonStopMiles', 'ItinGeoType',
       'MktGeoType'],
      dtype='object')

In [4]:
market_df_big8['OpCarrier'].unique().size

8

In [5]:
print("=== COLUMNS ===")
print(market_df_big8.columns.tolist())

print("\n=== DTYPES (default) ===")
print(market_df_big8.dtypes)

=== COLUMNS ===
['ItinID', 'MktID', 'MktCoupons', 'Year', 'Quarter', 'OriginAirportID', 'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCountry', 'OriginStateFips', 'OriginState', 'OriginStateName', 'OriginWac', 'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestCountry', 'DestStateFips', 'DestState', 'DestStateName', 'DestWac', 'AirportGroup', 'WacGroup', 'TkCarrierChange', 'TkCarrierGroup', 'OpCarrierChange', 'OpCarrierGroup', 'RPCarrier', 'TkCarrier', 'OpCarrier', 'BulkFare', 'Passengers', 'MktFare', 'MktDistance', 'MktDistanceGroup', 'MktMilesFlown', 'NonStopMiles', 'ItinGeoType', 'MktGeoType']

=== DTYPES (default) ===
ItinID                  int64
MktID                   int64
MktCoupons               int8
Year                    int16
Quarter                  int8
OriginAirportID         int32
OriginAirportSeqID      int32
OriginCityMarketID      int32
Origin                 object
OriginCountry          object
OriginStateFips          int8
OriginState            object
OriginStateName        object
OriginWac                int8
DestAirportID           int32
DestAirportSeqID        int32
DestCityMarketID        int32
Dest                   object
DestCountry            object
DestStateFips            int8
DestState              object
DestStateName          object
DestWac                  int8
AirportGroup           object
WacGroup               object
TkCarrierChange       float32
TkCarrierGroup         object
OpCarrierChange       float32
OpCarrierGroup         object
RPCarrier              object
TkCarrier              object
OpCarrier              object
BulkFare              float32
Passengers            float32
MktFare               float32
MktDistance           float32
MktDistanceGroup         int8
MktMilesFlown         float32
NonStopMiles          float32
ItinGeoType              int8
MktGeoType               int8
dtype: object

In [6]:
market_df_big8['Quarter'].unique()

array([2], dtype=int8)

In [7]:
market_df_big8['Year'].unique()

array([2025], dtype=int16)

In [8]:
market_df_big8['OriginCountry'].unique()

array(['US'], dtype=object)

In [9]:
market_df_big8['DestCountry'].unique()

array(['US'], dtype=object)

In [10]:
# Dropping columns with single values that are obvious.
market_df_big8.drop(columns=['Quarter', 'Year', 'OriginCountry', 'DestCountry'], inplace=True)

In [31]:
# Check if columns have useful variance before dropping
for col in market_df_big8.columns:
    if col in market_df_big8.columns:
        unique_vals = market_df_big8[col].nunique()
        print(f"{col}: {unique_vals} unique values")
        if unique_vals <= 5:
            print(f"  â†’ {market_df_big8[col].value_counts().to_dict()}")

ItinID: 3725041 unique values
MktID: 5736313 unique values
MktCoupons: 8 unique values
OriginAirportID: 261 unique values
OriginAirportSeqID: 261 unique values
OriginCityMarketID: 241 unique values
Origin: 261 unique values
OriginStateFips: 52 unique values
OriginState: 52 unique values
OriginStateName: 52 unique values
OriginWac: 52 unique values
DestAirportID: 260 unique values
DestAirportSeqID: 260 unique values
DestCityMarketID: 241 unique values
Dest: 260 unique values
DestStateFips: 52 unique values
DestState: 52 unique values
DestStateName: 52 unique values
DestWac: 52 unique values
AirportGroup: 152563 unique values
WacGroup: 41104 unique values
TkCarrierChange: 2 unique values
  â†’ {0.0: 5736259, 1.0: 54}
TkCarrierGroup: 65 unique values
OpCarrierChange: 1 unique values
  â†’ {0.0: 5736313}
OpCarrierGroup: 46 unique values
RPCarrier: 21 unique values
TkCarrier: 17 unique values
OpCarrier: 8 unique values
BulkFare: 1 unique values
  â†’ {0.0: 5736313}
Passengers: 367 unique values
MktFare: 95278 unique values
MktDistance: 5793 unique values
MktDistanceGroup: 22 unique values
MktMilesFlown: 5793 unique values
NonStopMiles: 3635 unique values
ItinGeoType: 2 unique values
  â†’ {2: 5318724, 1: 417589}
MktGeoType: 2 unique values
  â†’ {2: 5319622, 1: 416691}

In [26]:
# Identify columns to drop
columns_to_drop = market_df_big8.columns[market_df_big8.columns.str.endswith('Fips')]
print(columns_to_drop)

Index(['OriginStateFips', 'DestStateFips'], dtype='object')

In [27]:
# Drop the identified columns
market_df_big8.drop(columns=columns_to_drop)

,ItinID,MktID,MktCoupons,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginState,OriginStateName,OriginWac,...,OpCarrier,BulkFare,Passengers,MktFare,MktDistance,MktDistanceGroup,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType
0,202526327466,20252632746601,1,13930,1393008,30977,ORD,IL,Illinois,41,...,WN,0.0,1.0,283.619995,1005.0,3,1005.0,1005.0,2,2
1,202526327466,20252632746602,1,13204,1320402,31454,MCO,FL,Florida,33,...,WN,0.0,1.0,279.380005,990.0,2,990.0,990.0,2,2
2,202526327467,20252632746701,1,13930,1393008,30977,ORD,IL,Illinois,41,...,WN,0.0,1.0,298.230011,1005.0,3,1005.0,1005.0,2,2
3,202526327467,20252632746702,1,13204,1320402,31454,MCO,FL,Florida,33,...,WN,0.0,1.0,293.769989,990.0,2,990.0,990.0,2,2
4,202526327468,20252632746803,1,13303,1330303,32467,MIA,FL,Florida,33,...,WN,0.0,1.0,183.220001,1182.0,3,1182.0,1182.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5736308,202521059351,20252105935101,2,14107,1410702,30466,PHX,AZ,Arizona,81,...,AA,0.0,4.0,138.000000,1987.0,4,1987.0,1972.0,2,2
5736309,202521059352,20252105935201,2,14107,1410702,30466,PHX,AZ,Arizona,81,...,AA,0.0,1.0,143.000000,1987.0,4,1987.0,1972.0,2,2
5736310,202521059353,20252105935301,2,14107,1410702,30466,PHX,AZ,Arizona,81,...,AA,0.0,1.0,149.000000,1987.0,4,1987.0,1972.0,2,2
5736311,202521059354,20252105935401,2,14107,1410702,30466,PHX,AZ,Arizona,81,...,AA,0.0,1.0,153.000000,1987.0,4,1987.0,1972.0,2,2
5736312,202521059355,20252105935501,2,14107,1410702,30466,PHX,AZ,Arizona,81,...,AA,0.0,3.0,158.000000,1987.0,4,1987.0,1972.0,2,2

In [28]:
columns_to_drop = market_df_big8.columns[market_df_big8.columns.str.endswith('Wac')]
print(columns_to_drop)

Index(['OriginWac', 'DestWac'], dtype='object')

In [29]:
market_df_big8.drop(columns=columns_to_drop)

,ItinID,MktID,MktCoupons,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginStateFips,OriginState,OriginStateName,...,OpCarrier,BulkFare,Passengers,MktFare,MktDistance,MktDistanceGroup,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType
0,202526327466,20252632746601,1,13930,1393008,30977,ORD,17,IL,Illinois,...,WN,0.0,1.0,283.619995,1005.0,3,1005.0,1005.0,2,2
1,202526327466,20252632746602,1,13204,1320402,31454,MCO,12,FL,Florida,...,WN,0.0,1.0,279.380005,990.0,2,990.0,990.0,2,2
2,202526327467,20252632746701,1,13930,1393008,30977,ORD,17,IL,Illinois,...,WN,0.0,1.0,298.230011,1005.0,3,1005.0,1005.0,2,2
3,202526327467,20252632746702,1,13204,1320402,31454,MCO,12,FL,Florida,...,WN,0.0,1.0,293.769989,990.0,2,990.0,990.0,2,2
4,202526327468,20252632746803,1,13303,1330303,32467,MIA,12,FL,Florida,...,WN,0.0,1.0,183.220001,1182.0,3,1182.0,1182.0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5736308,202521059351,20252105935101,2,14107,1410702,30466,PHX,4,AZ,Arizona,...,AA,0.0,4.0,138.000000,1987.0,4,1987.0,1972.0,2,2
5736309,202521059352,20252105935201,2,14107,1410702,30466,PHX,4,AZ,Arizona,...,AA,0.0,1.0,143.000000,1987.0,4,1987.0,1972.0,2,2
5736310,202521059353,20252105935301,2,14107,1410702,30466,PHX,4,AZ,Arizona,...,AA,0.0,1.0,149.000000,1987.0,4,1987.0,1972.0,2,2
5736311,202521059354,20252105935401,2,14107,1410702,30466,PHX,4,AZ,Arizona,...,AA,0.0,1.0,153.000000,1987.0,4,1987.0,1972.0,2,2
5736312,202521059355,20252105935501,2,14107,1410702,30466,PHX,4,AZ,Arizona,...,AA,0.0,3.0,158.000000,1987.0,4,1987.0,1972.0,2,2

In [32]:
# dropping col BulkFare because there's a single value
# there are no BulkFares in this dataset
market_df_big8.drop(columns=['MktDistanceGroup', 'BulkFare', 'TkCarrierChange', 'OpCarrierChange', 'BulkFare'], inplace=True)

In [35]:
print(market_df_big8.shape)
market_df_big8.head()

(5736313, 33)

,ItinID,MktID,MktCoupons,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginStateFips,OriginState,OriginStateName,...,RPCarrier,TkCarrier,OpCarrier,Passengers,MktFare,MktDistance,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType
0,202526327466,20252632746601,1,13930,1393008,30977,ORD,17,IL,Illinois,...,WN,WN,WN,1.0,283.619995,1005.0,1005.0,1005.0,2,2
1,202526327466,20252632746602,1,13204,1320402,31454,MCO,12,FL,Florida,...,WN,WN,WN,1.0,279.380005,990.0,990.0,990.0,2,2
2,202526327467,20252632746701,1,13930,1393008,30977,ORD,17,IL,Illinois,...,WN,WN,WN,1.0,298.230011,1005.0,1005.0,1005.0,2,2
3,202526327467,20252632746702,1,13204,1320402,31454,MCO,12,FL,Florida,...,WN,WN,WN,1.0,293.769989,990.0,990.0,990.0,2,2
4,202526327468,20252632746803,1,13303,1330303,32467,MIA,12,FL,Florida,...,WN,WN,WN,1.0,183.220001,1182.0,1182.0,1182.0,2,2

In [34]:
market_df_big8.to_csv('db1b_market_filtered.csv', index=False)

In [ ]:
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns

# # Create bidirectional market
# market_df_big9['Market'] = market_df_big9.apply(lambda x: '-'.join(sorted([x['Origin'], x['Dest']])), axis=1)

# # Aggregate by market
# top_markets = market_df_big9.groupby('Market').agg({
#     'Passengers': 'sum',
#     'MktFare': 'mean',
#     'MktDistance': 'mean'
# }).reset_index()

# top_markets = top_markets.sort_values('Passengers', ascending=False).head(10)

# # Visualize
# fig, ax = plt.subplots(figsize=(12, 6))
# bars = ax.barh(top_markets['Market'], top_markets['Passengers'], color='steelblue')
# ax.set_xlabel('Total Passengers (Q2 2025)', fontsize=12)
# ax.set_title('Top 10 U.S. Domestic Markets by Passenger Volume', fontsize=14, fontweight='bold')
# ax.invert_yaxis()

# # Add value labels
# for bar in bars:
#     width = bar.get_width()
#     ax.text(width, bar.get_y() + bar.get_height()/2, f'{width:,.0f}', 
#             ha='left', va='center', fontsize=10)

# plt.tight_layout()
# plt.show()

# print(top_markets)