In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [67]:
df = pd.read_csv('aa_long.csv')

In [68]:
df.shape

(999747, 33)

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999747 entries, 0 to 999746
Data columns (total 33 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ItinID              999747 non-null  int64
 1   MktID               999747 non-null  int64
 2   MktCoupons          999747 non-null  int64
 3   OriginAirportID     999747 non-null  int64
 4   OriginAirportSeqID  999747 non-null  int64
 5   OriginCityMarketID  999747 non-null  int64
 6   Origin              999747 non-null  object
 7   OriginStateFips     999747 non-null  int64
 8   OriginState         999747 non-null  object
 9   OriginStateName     999747 non-null  object
 10  OriginWac           999747 non-null  int64
 11  DestAirportID       999747 non-null  int64
 12  DestAirportSeqID    999747 non-null  int64
 13  DestCityMarketID    999747 non-null  int64
 14  Dest                999747 non-null  object
 15  DestStateFips       999747 non-null  int64
 16  DestState           999747 non-null  object
 17  DestStateName       999747 non-null  object
 18  DestWac             999747 non-null  int64
 19  AirportGroup        999747 non-null  object
 20  WacGroup            999747 non-null  object
 21  TkCarrierGroup      999747 non-null  object
 22  OpCarrierGroup      999747 non-null  object
 23  RPCarrier           999747 non-null  object
 24  TkCarrier           999747 non-null  object
 25  OpCarrier           999747 non-null  object
 26  Passengers          999747 non-null  float64
 27  MktFare             999747 non-null  float64
 28  MktDistance         999747 non-null  float64
 29  MktMilesFlown       999747 non-null  float64
 30  NonStopMiles        999747 non-null  float64
 31  ItinGeoType         999747 non-null  int64
 32  MktGeoType          999747 non-null  int64
dtypes: float64(5), int64(15), object(13)
memory usage: 251.7+ MB

In [70]:
df.head()

,ItinID,MktID,MktCoupons,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginStateFips,OriginState,OriginStateName,...,RPCarrier,TkCarrier,OpCarrier,Passengers,MktFare,MktDistance,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType
0,202524007525,20252400752503,2,10257,1025702,30257,ALB,36,NY,New York,...,OO,AA,AA,1.0,183.58,1461.0,1461.0,1021.0,2,2
1,202524007538,20252400753803,2,10299,1029906,30299,ANC,2,AK,Alaska,...,OO,AA,AA,1.0,408.86,3895.0,3895.0,2519.0,1,1
2,202524007542,20252400754203,2,10397,1039707,30397,ATL,13,GA,Georgia,...,OO,AA,AA,1.0,378.00,905.0,905.0,743.0,2,2
3,202524007545,20252400754503,2,10423,1042302,30423,AUS,48,TX,Texas,...,OO,AA,AA,1.0,187.34,814.0,814.0,813.0,2,2
4,202524007547,20252400754703,2,10423,1042302,30423,AUS,48,TX,Texas,...,OO,AA,AA,1.0,393.76,814.0,814.0,813.0,2,2

In [71]:
df.columns

Index(['ItinID', 'MktID', 'MktCoupons', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginStateFips',
       'OriginState', 'OriginStateName', 'OriginWac', 'DestAirportID',
       'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestStateFips',
       'DestState', 'DestStateName', 'DestWac', 'AirportGroup', 'WacGroup',
       'TkCarrierGroup', 'OpCarrierGroup', 'RPCarrier', 'TkCarrier',
       'OpCarrier', 'Passengers', 'MktFare', 'MktDistance', 'MktMilesFlown',
       'NonStopMiles', 'ItinGeoType', 'MktGeoType'],
      dtype='object')

In [72]:
df = df.drop(columns=['Unnamed: 0'])

KeyError: "['Unnamed: 0'] not found in axis"

In [73]:
df.head()

,ItinID,MktID,MktCoupons,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginStateFips,OriginState,OriginStateName,...,RPCarrier,TkCarrier,OpCarrier,Passengers,MktFare,MktDistance,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType
0,202524007525,20252400752503,2,10257,1025702,30257,ALB,36,NY,New York,...,OO,AA,AA,1.0,183.58,1461.0,1461.0,1021.0,2,2
1,202524007538,20252400753803,2,10299,1029906,30299,ANC,2,AK,Alaska,...,OO,AA,AA,1.0,408.86,3895.0,3895.0,2519.0,1,1
2,202524007542,20252400754203,2,10397,1039707,30397,ATL,13,GA,Georgia,...,OO,AA,AA,1.0,378.00,905.0,905.0,743.0,2,2
3,202524007545,20252400754503,2,10423,1042302,30423,AUS,48,TX,Texas,...,OO,AA,AA,1.0,187.34,814.0,814.0,813.0,2,2
4,202524007547,20252400754703,2,10423,1042302,30423,AUS,48,TX,Texas,...,OO,AA,AA,1.0,393.76,814.0,814.0,813.0,2,2

In [74]:
df['OpCarrier'].unique()

array(['AA'], dtype=object)

In [75]:
df_long = pd.read_csv('aa_long.csv')

In [76]:
df_long.head()

,ItinID,MktID,MktCoupons,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginStateFips,OriginState,OriginStateName,...,RPCarrier,TkCarrier,OpCarrier,Passengers,MktFare,MktDistance,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType
0,202524007525,20252400752503,2,10257,1025702,30257,ALB,36,NY,New York,...,OO,AA,AA,1.0,183.58,1461.0,1461.0,1021.0,2,2
1,202524007538,20252400753803,2,10299,1029906,30299,ANC,2,AK,Alaska,...,OO,AA,AA,1.0,408.86,3895.0,3895.0,2519.0,1,1
2,202524007542,20252400754203,2,10397,1039707,30397,ATL,13,GA,Georgia,...,OO,AA,AA,1.0,378.00,905.0,905.0,743.0,2,2
3,202524007545,20252400754503,2,10423,1042302,30423,AUS,48,TX,Texas,...,OO,AA,AA,1.0,187.34,814.0,814.0,813.0,2,2
4,202524007547,20252400754703,2,10423,1042302,30423,AUS,48,TX,Texas,...,OO,AA,AA,1.0,393.76,814.0,814.0,813.0,2,2

In [77]:
df_temp = df_long.sort_values('Passengers', ascending=False)
df_temp.head(20)

,ItinID,MktID,MktCoupons,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginStateFips,OriginState,OriginStateName,...,RPCarrier,TkCarrier,OpCarrier,Passengers,MktFare,MktDistance,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType
381338,20252434231,2025243423102,1,12889,1288904,32211,LAS,32,NV,Nevada,...,AA,AA,AA,603.0,5.5,1055.0,1055.0,1055.0,2,2
381337,20252434231,2025243423101,1,11298,1129806,30194,DFW,48,TX,Texas,...,AA,AA,AA,603.0,5.5,1055.0,1055.0,1055.0,2,2
387204,20252438432,2025243843201,1,11298,1129806,30194,DFW,48,TX,Texas,...,AA,AA,AA,502.0,5.5,1389.0,1389.0,1389.0,2,2
387205,20252438432,2025243843202,1,12953,1295304,31703,LGA,36,NY,New York,...,AA,AA,AA,502.0,5.5,1389.0,1389.0,1389.0,2,2
390341,20252446228,2025244622801,1,11298,1129806,30194,DFW,48,TX,Texas,...,AA,AA,AA,500.0,5.5,985.0,985.0,985.0,2,2
390342,20252446228,2025244622802,1,13204,1320402,31454,MCO,12,FL,Florida,...,AA,AA,AA,500.0,5.5,985.0,985.0,985.0,2,2
960878,202521024209,20252102420901,1,14100,1410005,34100,PHL,42,PA,Pennsylvania,...,AA,AA,AA,485.0,5.5,861.0,861.0,861.0,2,2
960879,202521024209,20252102420902,1,13204,1320402,31454,MCO,12,FL,Florida,...,AA,AA,AA,485.0,5.5,861.0,861.0,861.0,2,2
383895,20252435811,2025243581101,1,11298,1129806,30194,DFW,48,TX,Texas,...,AA,AA,AA,429.0,5.5,1235.0,1235.0,1235.0,2,2
383896,20252435811,2025243581102,1,12892,1289208,32575,LAX,6,CA,California,...,AA,AA,AA,429.0,5.5,1235.0,1235.0,1235.0,2,2
364534,20252418344,2025241834401,1,11298,1129806,30194,DFW,48,TX,Texas,...,AA,AA,AA,429.0,5.5,641.0,641.0,641.0,2,2
364535,20252418344,2025241834402,1,11292,1129202,30325,DEN,8,CO,Colorado,...,AA,AA,AA,429.0,5.5,641.0,641.0,641.0,2,2
410211,20252465578,2025246557802,1,14107,1410702,30466,PHX,4,AZ,Arizona,...,AA,AA,AA,350.0,5.5,868.0,868.0,868.0,2,2
410210,20252465578,2025246557801,1,11298,1129806,30194,DFW,48,TX,Texas,...,AA,AA,AA,350.0,5.5,868.0,868.0,868.0,2,2
430969,20252482609,2025248260902,1,14908,1490803,32575,SNA,6,CA,California,...,AA,AA,AA,327.0,5.5,1205.0,1205.0,1205.0,2,2
430968,20252482609,2025248260901,1,11298,1129806,30194,DFW,48,TX,Texas,...,AA,AA,AA,327.0,5.5,1205.0,1205.0,1205.0,2,2
153494,20252691892,2025269189201,1,12892,1289208,32575,LAX,6,CA,California,...,AA,AA,AA,322.0,98.0,236.0,236.0,236.0,2,2
108004,20252317286,2025231728601,1,11057,1105703,31057,CLT,37,NC,North Carolina,...,AA,AA,AA,313.0,5.5,468.0,468.0,468.0,2,2
108005,20252317286,2025231728602,1,13204,1320402,31454,MCO,12,FL,Florida,...,AA,AA,AA,313.0,5.5,468.0,468.0,468.0,2,2
403061,20252459274,2025245927402,1,13930,1393008,30977,ORD,17,IL,Illinois,...,AA,AA,AA,309.0,5.5,802.0,802.0,802.0,2,2

In [78]:
print(df_temp['Passengers'].min())
print(df_temp['Passengers'].max())

1.0
603.0

In [79]:
# Smallest AA aircraft has max 50 seat -- ERJ 145
# Will filter out rows with less than 25 pax
df_temp = df_temp[df_temp['Passengers'] >= 25]

In [80]:
# Largest AA aircraft has max 304 seat -- B77w
# Will filter out rows with more than 304 pax
df_temp = df_temp[df_temp['Passengers'] <= 304]

In [81]:
print(df_temp['Passengers'].min())
print(df_temp['Passengers'].max())

25.0
304.0

In [82]:
df_temp.columns

Index(['ItinID', 'MktID', 'MktCoupons', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginStateFips',
       'OriginState', 'OriginStateName', 'OriginWac', 'DestAirportID',
       'DestAirportSeqID', 'DestCityMarketID', 'Dest', 'DestStateFips',
       'DestState', 'DestStateName', 'DestWac', 'AirportGroup', 'WacGroup',
       'TkCarrierGroup', 'OpCarrierGroup', 'RPCarrier', 'TkCarrier',
       'OpCarrier', 'Passengers', 'MktFare', 'MktDistance', 'MktMilesFlown',
       'NonStopMiles', 'ItinGeoType', 'MktGeoType'],
      dtype='object')

In [83]:
df_dest = df_temp.groupby(["Origin", "Dest"])['Passengers'].sum().sort_values(ascending=False)

In [84]:
df_dest.to_csv('grouped.csv')