In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('../Data/DB1BMarket_2025_2.csv', nrows=5)
df

,ItinID,MktID,MktCoupons,Year,Quarter,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,Origin,OriginCountry,...,BulkFare,Passengers,MktFare,MktDistance,MktDistanceGroup,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType,Unnamed: 41
0,202526327466,20252632746601,1,2025,2,13930,1393008,30977,ORD,US,...,0.0,1.0,283.62,1005.0,3,1005.0,1005.0,2,2,NaN
1,202526327466,20252632746602,1,2025,2,13204,1320402,31454,MCO,US,...,0.0,1.0,279.38,990.0,2,990.0,990.0,2,2,NaN
2,202526327467,20252632746701,1,2025,2,13930,1393008,30977,ORD,US,...,0.0,1.0,298.23,1005.0,3,1005.0,1005.0,2,2,NaN
3,202526327467,20252632746702,1,2025,2,13204,1320402,31454,MCO,US,...,0.0,1.0,293.77,990.0,2,990.0,990.0,2,2,NaN
4,202526327468,20252632746801,2,2025,2,13930,1393008,30977,ORD,US,...,0.0,1.0,155.78,1197.0,3,1005.0,1197.0,2,2,NaN

In [3]:
df.describe()

,ItinID,MktID,MktCoupons,Year,Quarter,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,...,BulkFare,Passengers,MktFare,MktDistance,MktDistanceGroup,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType,Unnamed: 41
count,5.000000e+00,5.000000e+00,5.000000,5.0,5.0,5.000000,5.000000e+00,5.00000,5.000000,5.00000,...,5.0,5.0,5.000000,5.000000,5.000000,5.000000,5.000000,5.0,5.0,0.0
mean,2.025263e+11,2.025263e+13,1.200000,2025.0,2.0,13639.600000,1.363966e+06,31167.80000,15.000000,37.80000,...,0.0,1.0,262.156000,1037.400000,2.600000,999.000000,1037.400000,2.0,2.0,NaN
std,8.366600e-01,8.348832e+01,0.447214,0.0,0.0,397.646577,3.976794e+04,261.26366,2.738613,4.38178,...,0.0,0.0,59.945812,89.533793,0.547723,8.215838,89.533793,0.0,0.0,NaN
min,2.025263e+11,2.025263e+13,1.000000,2025.0,2.0,13204.000000,1.320402e+06,30977.00000,12.000000,33.00000,...,0.0,1.0,155.780000,990.000000,2.000000,990.000000,990.000000,2.0,2.0,NaN
25%,2.025263e+11,2.025263e+13,1.000000,2025.0,2.0,13204.000000,1.320402e+06,30977.00000,12.000000,33.00000,...,0.0,1.0,279.380000,990.000000,2.000000,990.000000,990.000000,2.0,2.0,NaN
50%,2.025263e+11,2.025263e+13,1.000000,2025.0,2.0,13930.000000,1.393008e+06,30977.00000,17.000000,41.00000,...,0.0,1.0,283.620000,1005.000000,3.000000,1005.000000,1005.000000,2.0,2.0,NaN
75%,2.025263e+11,2.025263e+13,1.000000,2025.0,2.0,13930.000000,1.393008e+06,31454.00000,17.000000,41.00000,...,0.0,1.0,293.770000,1005.000000,3.000000,1005.000000,1005.000000,2.0,2.0,NaN
max,2.025263e+11,2.025263e+13,2.000000,2025.0,2.0,13930.000000,1.393008e+06,31454.00000,17.000000,41.00000,...,0.0,1.0,298.230000,1197.000000,3.000000,1005.000000,1197.000000,2.0,2.0,NaN

In [4]:
(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 42 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ItinID              5 non-null      int64
 1   MktID               5 non-null      int64
 2   MktCoupons          5 non-null      int64
 3   Year                5 non-null      int64
 4   Quarter             5 non-null      int64
 5   OriginAirportID     5 non-null      int64
 6   OriginAirportSeqID  5 non-null      int64
 7   OriginCityMarketID  5 non-null      int64
 8   Origin              5 non-null      object
 9   OriginCountry       5 non-null      object
 10  OriginStateFips     5 non-null      int64
 11  OriginState         5 non-null      object
 12  OriginStateName     5 non-null      object
 13  OriginWac           5 non-null      int64
 14  DestAirportID       5 non-null      int64
 15  DestAirportSeqID    5 non-null      int64
 16  DestCityMarketID    5 non-null      int64
 17  Dest                5 non-null      object
 18  DestCountry         5 non-null      object
 19  DestStateFips       5 non-null      int64
 20  DestState           5 non-null      object
 21  DestStateName       5 non-null      object
 22  DestWac             5 non-null      int64
 23  AirportGroup        5 non-null      object
 24  WacGroup            5 non-null      object
 25  TkCarrierChange     5 non-null      float64
 26  TkCarrierGroup      5 non-null      object
 27  OpCarrierChange     5 non-null      float64
 28  OpCarrierGroup      5 non-null      object
 29  RPCarrier           5 non-null      object
 30  TkCarrier           5 non-null      object
 31  OpCarrier           5 non-null      object
 32  BulkFare            5 non-null      float64
 33  Passengers          5 non-null      float64
 34  MktFare             5 non-null      float64
 35  MktDistance         5 non-null      float64
 36  MktDistanceGroup    5 non-null      int64
 37  MktMilesFlown       5 non-null      float64
 38  NonStopMiles        5 non-null      float64
 39  ItinGeoType         5 non-null      int64
 40  MktGeoType          5 non-null      int64
 41  Unnamed: 41         0 non-null      float64
dtypes: float64(9), int64(18), object(15)
memory usage: 1.8+ KB

In [5]:
print(df['TkCarrierChange'].describe())
print('------')
print(df['OpCarrierChange'].describe())
print('------')
print(df['BulkFare'].describe())
print('------')
print(df['MktFare'].describe())
print('------')
print(df['MktDistance'].describe())
print('------')
print(df['MktMilesFlown'].describe())
print('------')
print(df['NonStopMiles'].describe())
print('------')

count    5.000000
mean     0.200000
std      0.447214
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      1.000000
Name: TkCarrierChange, dtype: float64
------
count    5.000000
mean     0.200000
std      0.447214
min      0.000000
25%      0.000000
50%      0.000000
75%      0.000000
max      1.000000
Name: OpCarrierChange, dtype: float64
------
count    5.0
mean     0.0
std      0.0
min      0.0
25%      0.0
50%      0.0
75%      0.0
max      0.0
Name: BulkFare, dtype: float64
------
count      5.000000
mean     262.156000
std       59.945812
min      155.780000
25%      279.380000
50%      283.620000
75%      293.770000
max      298.230000
Name: MktFare, dtype: float64
------
count       5.000000
mean     1037.400000
std        89.533793
min       990.000000
25%       990.000000
50%      1005.000000
75%      1005.000000
max      1197.000000
Name: MktDistance, dtype: float64
------
count       5.000000
mean      999.000000
std         8.215838
min       990.000000
25%       990.000000
50%      1005.000000
75%      1005.000000
max      1005.000000
Name: MktMilesFlown, dtype: float64
------
count       5.000000
mean     1037.400000
std        89.533793
min       990.000000
25%       990.000000
50%      1005.000000
75%      1005.000000
max      1197.000000
Name: NonStopMiles, dtype: float64
------

In [6]:
# Optimized dtypes
market_dtypes = {
    'ItinID': 'int64',
    'MktID': 'int64',
    'MktCoupons': 'int8',
    'Year': 'int16',
    'Quarter': 'int8',
    'OriginAirportID': 'int32',
    'OriginAirportSeqID': 'int32',
    'OriginCityMarketID': 'int32',
    'Origin': 'str',
    'OriginCountry': 'str',
    'OriginStateFips': 'int8',
    'OriginState': 'str',
    'OriginStateName': 'str',
    'OriginWac': 'int8',
    'DestAirportID': 'int32',
    'DestAirportSeqID': 'int32',
    'DestCityMarketID': 'int32',
    'Dest': 'str',
    'DestCountry': 'str',
    'DestStateFips': 'int8',
    'DestState': 'str',
    'DestStateName': 'str',
    'DestWac': 'int8',
    'AirportGroup': 'str',
    'WacGroup': 'str',
    'TkCarrierChange': 'int8',
    'TkCarrierGroup': 'str',
    'OpCarrierChange': 'int8',
    'OpCarrierGroup': 'str',
    'RPCarrier': 'str',
    'TkCarrier': 'str',
    'OpCarrier': 'str',
    'BulkFare': 'float32',
    'Passengers': 'int32',
    'MktFare': 'float32',
    'MktDistance': 'int64',
    'MktDistanceGroup': 'int8',
    'MktMilesFlown': 'int64',
    'NonStopMiles': 'int64',
    'ItinGeoType': 'int8',
    'MktGeoType': 'int8',
}

# Define filters
focus_carriers = ['UA']

print("Loading DB1B Market data with chunk filtering...")

# Read and filter in chunks
chunk_size = 100_000
filtered_chunks = []
total_rows_read = 0
total_rows_kept = 0

for chunk in pd.read_csv(
    '../Data/DB1BMarket_2025_2.csv',
    dtype=market_dtypes,
    usecols=list(market_dtypes.keys()),
    chunksize=chunk_size,
    low_memory=False
):
    # Filter chunk
    filtered_chunk = chunk[
        (chunk['Passengers'] > 0) &
        (chunk['MktFare'] > 0) &
        (chunk['BulkFare'] == 0) &
        (chunk['OpCarrier'].isin(focus_carriers))
    ]
    
    # Track progress
    total_rows_read += len(chunk)
    total_rows_kept += len(filtered_chunk)
    
    if len(filtered_chunk) > 0:
        filtered_chunks.append(filtered_chunk)
    
    print(f"  Chunk: {len(chunk):,} rows â†’ {len(filtered_chunk):,} kept "
          f"(Total: {total_rows_read:,} read, {total_rows_kept:,} kept)")

# Combine
print("\nCombining filtered chunks...")
market_df_big8 = pd.concat(filtered_chunks, ignore_index=True)

# Memory report
memory_gb = market_df_big8.memory_usage(deep=True).sum() / 1_073_741_824
filter_rate = (total_rows_kept / total_rows_read * 100) if total_rows_read > 0 else 0

print(f"\nâœ… Loaded successfully!")
print(f"   Rows read: {total_rows_read:,}")
print(f"   Rows kept: {len(market_df_big8):,} ({filter_rate:.1f}%)")
print(f"   Columns: {len(market_df_big8.columns)}")
print(f"   Memory: {memory_gb:.2f} GB")
print(f"   Carriers: {', '.join(focus_carriers)}")

# Preview
print("\nðŸ“Š Sample data:")
print(market_df_big8[['Origin', 'Dest', 'OpCarrier', 'Passengers', 'MktFare']].head())

Loading DB1B Market data with chunk filtering...
  Chunk: 100,000 rows â†’ 0 kept (Total: 100,000 read, 0 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 200,000 read, 0 kept)
  Chunk: 100,000 rows â†’ 18 kept (Total: 300,000 read, 18 kept)
  Chunk: 100,000 rows â†’ 22 kept (Total: 400,000 read, 40 kept)
  Chunk: 100,000 rows â†’ 31 kept (Total: 500,000 read, 71 kept)
  Chunk: 100,000 rows â†’ 1,257 kept (Total: 600,000 read, 1,328 kept)
  Chunk: 100,000 rows â†’ 3,041 kept (Total: 700,000 read, 4,369 kept)
  Chunk: 100,000 rows â†’ 27 kept (Total: 800,000 read, 4,396 kept)
  Chunk: 100,000 rows â†’ 455 kept (Total: 900,000 read, 4,851 kept)
  Chunk: 100,000 rows â†’ 4,130 kept (Total: 1,000,000 read, 8,981 kept)
  Chunk: 100,000 rows â†’ 27,440 kept (Total: 1,100,000 read, 36,421 kept)
  Chunk: 100,000 rows â†’ 46,909 kept (Total: 1,200,000 read, 83,330 kept)
  Chunk: 100,000 rows â†’ 5,612 kept (Total: 1,300,000 read, 88,942 kept)
  Chunk: 100,000 rows â†’ 404 kept (Total: 1,400,000 read, 89,346 kept)
  Chunk: 100,000 rows â†’ 24 kept (Total: 1,500,000 read, 89,370 kept)
  Chunk: 100,000 rows â†’ 6 kept (Total: 1,600,000 read, 89,376 kept)
  Chunk: 100,000 rows â†’ 42 kept (Total: 1,700,000 read, 89,418 kept)
  Chunk: 100,000 rows â†’ 7 kept (Total: 1,800,000 read, 89,425 kept)
  Chunk: 100,000 rows â†’ 54 kept (Total: 1,900,000 read, 89,479 kept)
  Chunk: 100,000 rows â†’ 41 kept (Total: 2,000,000 read, 89,520 kept)
  Chunk: 100,000 rows â†’ 19 kept (Total: 2,100,000 read, 89,539 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 2,200,000 read, 89,539 kept)
  Chunk: 100,000 rows â†’ 38,959 kept (Total: 2,300,000 read, 128,498 kept)
  Chunk: 100,000 rows â†’ 83,329 kept (Total: 2,400,000 read, 211,827 kept)
  Chunk: 100,000 rows â†’ 66,866 kept (Total: 2,500,000 read, 278,693 kept)
  Chunk: 100,000 rows â†’ 132 kept (Total: 2,600,000 read, 278,825 kept)
  Chunk: 100,000 rows â†’ 4 kept (Total: 2,700,000 read, 278,829 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 2,800,000 read, 278,829 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 2,900,000 read, 278,829 kept)
  Chunk: 100,000 rows â†’ 7,254 kept (Total: 3,000,000 read, 286,083 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 3,100,000 read, 286,083 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 3,200,000 read, 286,083 kept)
  Chunk: 100,000 rows â†’ 1,320 kept (Total: 3,300,000 read, 287,403 kept)
  Chunk: 100,000 rows â†’ 8 kept (Total: 3,400,000 read, 287,411 kept)
  Chunk: 100,000 rows â†’ 9,721 kept (Total: 3,500,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 3,600,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 3,700,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 3,800,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 3,900,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 4,000,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 4,100,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 4,200,000 read, 297,132 kept)
  Chunk: 100,000 rows â†’ 60,022 kept (Total: 4,300,000 read, 357,154 kept)
  Chunk: 100,000 rows â†’ 3,172 kept (Total: 4,400,000 read, 360,326 kept)
  Chunk: 100,000 rows â†’ 42 kept (Total: 4,500,000 read, 360,368 kept)
  Chunk: 100,000 rows â†’ 22 kept (Total: 4,600,000 read, 360,390 kept)
  Chunk: 100,000 rows â†’ 34,150 kept (Total: 4,700,000 read, 394,540 kept)
  Chunk: 100,000 rows â†’ 86,308 kept (Total: 4,800,000 read, 480,848 kept)
  Chunk: 100,000 rows â†’ 44,423 kept (Total: 4,900,000 read, 525,271 kept)
  Chunk: 100,000 rows â†’ 28,073 kept (Total: 5,000,000 read, 553,344 kept)
  Chunk: 100,000 rows â†’ 28,901 kept (Total: 5,100,000 read, 582,245 kept)
  Chunk: 100,000 rows â†’ 43 kept (Total: 5,200,000 read, 582,288 kept)
  Chunk: 100,000 rows â†’ 20 kept (Total: 5,300,000 read, 582,308 kept)
  Chunk: 100,000 rows â†’ 1 kept (Total: 5,400,000 read, 582,309 kept)
  Chunk: 100,000 rows â†’ 16 kept (Total: 5,500,000 read, 582,325 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 5,600,000 read, 582,325 kept)
  Chunk: 100,000 rows â†’ 8 kept (Total: 5,700,000 read, 582,333 kept)
  Chunk: 100,000 rows â†’ 22 kept (Total: 5,800,000 read, 582,355 kept)
  Chunk: 100,000 rows â†’ 6 kept (Total: 5,900,000 read, 582,361 kept)
  Chunk: 100,000 rows â†’ 7 kept (Total: 6,000,000 read, 582,368 kept)
  Chunk: 100,000 rows â†’ 21 kept (Total: 6,100,000 read, 582,389 kept)
  Chunk: 100,000 rows â†’ 389 kept (Total: 6,200,000 read, 582,778 kept)
  Chunk: 100,000 rows â†’ 6 kept (Total: 6,300,000 read, 582,784 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 6,400,000 read, 582,784 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 6,500,000 read, 582,784 kept)
  Chunk: 100,000 rows â†’ 1,114 kept (Total: 6,600,000 read, 583,898 kept)
  Chunk: 100,000 rows â†’ 67,968 kept (Total: 6,700,000 read, 651,866 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 6,800,000 read, 651,866 kept)
  Chunk: 100,000 rows â†’ 14,729 kept (Total: 6,900,000 read, 666,595 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 7,000,000 read, 666,595 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 7,100,000 read, 666,595 kept)
  Chunk: 100,000 rows â†’ 2 kept (Total: 7,200,000 read, 666,597 kept)
  Chunk: 100,000 rows â†’ 0 kept (Total: 7,300,000 read, 666,597 kept)
  Chunk: 100,000 rows â†’ 7 kept (Total: 7,400,000 read, 666,604 kept)
  Chunk: 100,000 rows â†’ 1,795 kept (Total: 7,500,000 read, 668,399 kept)
  Chunk: 100,000 rows â†’ 3,773 kept (Total: 7,600,000 read, 672,172 kept)
  Chunk: 100,000 rows â†’ 1,935 kept (Total: 7,700,000 read, 674,107 kept)
  Chunk: 100,000 rows â†’ 28,941 kept (Total: 7,800,000 read, 703,048 kept)
  Chunk: 100,000 rows â†’ 79,912 kept (Total: 7,900,000 read, 782,960 kept)
  Chunk: 100,000 rows â†’ 77,818 kept (Total: 8,000,000 read, 860,778 kept)
  Chunk: 100,000 rows â†’ 22,278 kept (Total: 8,100,000 read, 883,056 kept)
  Chunk: 100,000 rows â†’ 887 kept (Total: 8,200,000 read, 883,943 kept)
  Chunk: 100,000 rows â†’ 10 kept (Total: 8,300,000 read, 883,953 kept)
  Chunk: 100,000 rows â†’ 6 kept (Total: 8,400,000 read, 883,959 kept)
  Chunk: 50,420 rows â†’ 0 kept (Total: 8,450,420 read, 883,959 kept)

Combining filtered chunks...

âœ… Loaded successfully!
   Rows read: 8,450,420
   Rows kept: 883,959 (10.5%)
   Columns: 41
   Memory: 0.73 GB
   Carriers: UA

ðŸ“Š Sample data:
  Origin Dest OpCarrier  Passengers     MktFare
0    EWR  ATL        UA           1  149.000000
1    EWR  ATL        UA           1  288.000000
2    IAD  ATL        UA           1  270.000000
3    IAD  ATL        UA           1  368.500000
4    IAD  ATL        UA           1  348.470001

In [7]:
df_ua = market_df_big8

In [14]:
pd.options.display.float_format = '{:.2f}'.format
df_ua[['Passengers','MktFare','MktDistance','MktMilesFlown','NonStopMiles']].describe().T
# df_ua.describe().T

                  count    mean    std   min    25%     50%     75%      max
Passengers    883959.00    2.02   5.25  1.00   1.00    1.00    2.00   558.00
MktFare       883959.00  333.62 284.56  0.11 186.50  270.00  391.00 12086.00
MktDistance   883959.00 1592.86 978.33 67.00 871.00 1437.00 2172.00 10533.00
MktMilesFlown 883959.00 1592.86 978.33 67.00 871.00 1437.00 2172.00 10533.00
NonStopMiles  883959.00 1540.36 945.00 67.00 860.00 1379.00 2113.00  9362.00

In [15]:
print(df_ua['Origin'].unique())

['EWR' 'IAD' 'ORD' 'AVP' 'RSW' 'OMA' 'LAS' 'MCO' 'SAV' 'BIL' 'DEN' 'ATL'
 'DTW' 'MSP' 'SEA' 'HNL' 'LAX' 'PIT' 'XWA' 'MIA' 'CLE' 'SFO' 'GEG' 'BOI'
 'SAT' 'CMH' 'MCI' 'BZN' 'LIH' 'PDX' 'TYS' 'JAX' 'DAY' 'GCC' 'SYR' 'RDM'
 'IAH' 'ONT' 'JAC' 'RNO' 'OGG' 'EUG' 'BOS' 'TUS' 'SLC' 'DCA' 'ALB' 'LGA'
 'PWM' 'FSD' 'AUS' 'ORF' 'ROC' 'SDF' 'LBB' 'MOT' 'SAN' 'PHX' 'PSP' 'RAP'
 'SBA' 'SJC' 'SMF' 'SNA' 'CHS' 'FCA' 'GSP' 'PHL' 'RDU' 'LNK' 'ABQ' 'BDL'
 'BTV' 'COS' 'KOA' 'DFW' 'DSM' 'EGE' 'FAR' 'GTF' 'GUM' 'ICT' 'ILM' 'MKE'
 'MSY' 'MYR' 'SJU' 'TPA' 'BFL' 'XNA' 'CID' 'ANC' 'BNA' 'BUR' 'CLT' 'CVG'
 'FLL' 'GRR' 'IND' 'MEM' 'MSN' 'RIC' 'SBP' 'STL' 'TUL' 'IDA' 'MSO' 'ATW'
 'BUF' 'BWI' 'CAK' 'BQN' 'FNT' 'MBS' 'DRO' 'HDN' 'OKC' 'ABE' 'CHO' 'CRW'
 'GRB' 'MDT' 'PNS' 'ROA' 'SBN' 'BIS' 'ASE' 'BHM' 'SPN' 'MFR' 'RDD' 'BGR'
 'MTJ' 'ELP' 'FAT' 'HSV' 'AVL' 'FAI' 'GJT' 'SGF' 'HLN' 'TVC' 'CRP' 'ECP'
 'CHA' 'PVD' 'MRY' 'OTH' 'AMA' 'SHV' 'LIT' 'SAF' 'CPR' 'LCH' 'PSC' 'BTR'
 'HOB' 'HRL' 'LFT' 'MAF' 'MFE' 'MOB' 'PBI' 'LEX' 'ACV' 'CAE' 'SUN' 'STT'
 'DLH' 'SCE' 'MLI' 'FWA' 'PIA' 'BRO' 'EYW' 'GUC' 'SRQ' 'GSO' 'HHH' 'FNL'
 'ACK' 'BTM' 'JAN' 'PLN' 'ITH' 'LRD' 'SGU']

In [18]:
df_ua['Origin'].unique()[18]

'XWA'

In [23]:
df_ua[df_ua['Origin'] == 'XWA'].to_csv('hihihih.csv', index=False)

In [24]:
df_ua['BulkFare'].unique()

array([0.], dtype=float32)

**Can safely drop:**

- BulkFare: all values are 0
- Year: obvious
- Quarter: obvious 
- OriginAirportID
- DestAirportID
- OriginAirportSeqID
- DestAirportSeqID
- OriginCityMarketID
- DestCityMarketID
- OriginStateFips
- DestStateFips
- OriginWac
- DestWac
- OriginCountry
- DestCountry
- WacGroup
- TkCarrierChange
- TkCarrierGroup
- RPCarrier
- TkCarrier
- ItinGeoType
- MktGeoType
- MktDistanceGroup

In [25]:
df_ua_filtered = df_ua.drop(columns = ['BulkFare','Year','Quarter','OriginAirportID','DestAirportID', 'OriginAirportSeqID',
'DestAirportSeqID',
'OriginCityMarketID',
'DestCityMarketID',
'OriginStateFips',
'DestStateFips',
'OriginWac',
'DestWac',
'OriginCountry',
'DestCountry',
'WacGroup',
'TkCarrierChange',
'TkCarrierGroup',
'RPCarrier',
'TkCarrier',
'ItinGeoType',
'MktGeoType',
'MktDistanceGroup'])

In [26]:
df_ua_filtered.head().T

,0,1,2,3,4
ItinID,202521881768,202521881986,202521890851,202521890942,202521893930
MktID,20252188176802,20252188198602,20252189085102,20252189094202,20252189393003
MktCoupons,1,1,1,1,1
Origin,EWR,EWR,IAD,IAD,IAD
OriginState,NJ,NJ,VA,VA,VA
OriginStateName,New Jersey,New Jersey,Virginia,Virginia,Virginia
Dest,ATL,ATL,ATL,ATL,ATL
DestState,GA,GA,GA,GA,GA
DestStateName,Georgia,Georgia,Georgia,Georgia,Georgia
AirportGroup,EWR:ATL,EWR:ATL,IAD:ATL,IAD:ATL,IAD:ATL
OpCarrierChange,0,0,0,0,0
OpCarrierGroup,UA,UA,UA,UA,UA
OpCarrier,UA,UA,UA,UA,UA
Passengers,1,1,1,1,1
MktFare,149.00,288.00,270.00,368.50,348.47
MktDistance,746,746,534,534,534
MktMilesFlown,746,746,534,534,534
NonStopMiles,746,746,534,534,534